main {
  margin-bottom: 50px;
}

// Overwrite Angular Material's styles.
.mat-drawer-backdrop {
  position: fixed !important;
}

@media (max-width: 960px) {
  mat-cell {
    &:first-of-type,
    &:last-of-type {
      padding: 0px !important;
    }
  }
}
